<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
	fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

	<div fxFlex="40" *ngIf="wine">
		<div fxFlex>
			<mat-card>
				<mat-card-header>
					<mat-card-title>
						<h3>{{ wine.name | uppercase }}</h3>
					</mat-card-title>
				</mat-card-header>
				<div class="img-container">
					<img mat-card-image src={{wine.image}} alt={{wine.name}}>
				</div>
				<mat-card-content>
					<p>{{wine.description}}</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>LIKE</button>
					<button mat-button>SHARE</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>

	<div fxFlex="40" *ngIf="wine">
		<h2>Details</h2>
		<mat-list style="margin-bottom: 16px;">
			<mat-list-item>
				<p matLine>Price: {{wine.price | currency}}</p>
			</mat-list-item>
			<mat-list-item>
				<p matLine>Wine type: {{wine.label}}</p>
			</mat-list-item>
		</mat-list>
		<h2>Comments</h2>
		<mat-list>
			<mat-list-item *ngFor="let comment of wine.comments">
				<p matLine>{{ comment.comment }}</p>
				<p matLine>Rating: {{ comment.rating }}</p>
				<p matLine>{{ comment.author }} | {{ comment.date | date }}</p>
			</mat-list-item>
		</mat-list>
	</div>

</div>